<div class="container">
	<div class="row mt-5">
		<div class="col-lg-6">
			<h2 class="my-4 text-secondary">Pie Chart</h2>
			<canvas id="piechart"></canvas>
		</div>
		<div class="col-lg-6">
			<h2 class="my-4 text-secondary">Bar Chart</h2>
			<canvas id="barchart"></canvas>
		</div>
	</div>
	<div class="row mt-5">
		<div class="col-lg-6">
			<h2 class="my-4 text-secondary">Doughnut Chart</h2>
			<canvas id="dochart"></canvas>
		</div>
		<div class="col-lg-6">
			<h2 class="my-4 text-secondary">Polar Area Chart</h2>
			<canvas id="pochart"></canvas>
		</div>
	</div>
	<div class="row mt-5">
		<div class="col-lg-6">
			<h2 class="my-4 text-secondary">Radar Chart</h2>
			<canvas id="rochart"></canvas>
		</div>
		<div class="col-lg-6">
			<h2 class="my-4 text-secondary">Bubble Chart</h2>
			<canvas id="bubchart"></canvas>
		</div>
	</div>
	<div class="row mt-5">
		<div class="col-lg-6">
			<h2 class="my-4 text-secondary">Scatter Chart</h2>
			<canvas id="scatterchart"></canvas>
		</div>
	</div>
</div>